.login-register-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  
  .login-register-text {
    display: flex;
    justify-content: center;
    font-family: "Reem Kufi", sans-serif;
    margin-top: 40px;
  }
  
  .text-title {
    font-family: "Reem Kufi", sans-serif;
    margin-bottom: 50px;
    font: black;
  }
  
  .email-box,
  .username-box,
  .password-box {
    margin-bottom: 20px;
  }
  
  .signup-text,
  .login-text {
    border-radius: 10%;
  }
  
  .login-register-form {
    font-family: "Reem Kufi", sans-serif;
  }
  
  .window {
    border-radius: 7%;
    background: white;
  }
  
  .register-login-backdrop, .admin-page-backdrop {
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.178),
        rgba(49, 49, 49, 0.2)
      ),
      url("../imgs/homebanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 60vh;
  }
  .login-window{
     padding-top: 100px;
  }
  
  
  