.login-register-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.login-register-text {
  display: flex;
  justify-content: center;
  font-family: "Reem Kufi", sans-serif;
  margin-top: 40px;
}

.text-title {
  font-family: "Reem Kufi", sans-serif;
  margin-bottom: 50px;
  font: black;
}

.email-box,
.username-box,
.password-box {
  margin-bottom: 20px;
}

.signup-text,
.login-text {
  border-radius: 10%;
}

.login-register-form {
  font-family: "Reem Kufi", sans-serif;
}

.window {
  border-radius: 7%;
  background: white;
}

.login-window {
  padding-top: 100px;
}
