.admin-users-backdrop{
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.178),
        rgba(49, 49, 49, 0.2)
      ),
      url("../imgs/homebanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 60vh;
    padding-left: 20px;
  }

  .each-user{
    margin-right: 5px;
  }

  .list-of-users{
    display: flex;
    align-self: auto;
    overflow-x: auto;
  } 