.admin-users-backdrop{
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.178),
        rgba(49, 49, 49, 0.2)
      ),
      url("../imgs/homebanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    padding-left: 20px;
  }

  .each-user{
    margin-right: 5px;
  }

  .list-of-users{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    overflow-x: auto;
  } 

  .each-user{
    transition: 0.3s;
    max-height: 100%;
    max-width: 100%;
    border-radius: 7px;
    font-family: "Urbanist", sans-serif;
    padding: 10px; 
    margin: 8px; 
    width: 300px; 
    border: 1px solid hsl(180, 15%, 39%);
    height: 180px;
    background: #557272;
    align-self: auto;
    position: relative;
    border: 3px solid black;
  } 

  .user-edit-button{
    background:#557272;
    margin:5px;
    border: 1px solid black;
    font-family: "Reem Kufi", sans-serif;
  }

  .delete-user-button{
    background:#557272;
    border: 1px solid black;  
    font-family: "Reem Kufi", sans-serif;
} 

.add-user-button{
    background:#557272;
    font-family: "Reem Kufi", sans-serif;
    margin-left: 10px;  
    margin-bottom: 10px;
    border: 2px solid black;
}

.users-title{
font-size:50px;
margin-left: 10px; 
color:white;
text-shadow: 0 0 10px black;
font-family: "Reem Kufi", sans-serif;
}

.username-title{
    font-size:40px;
    color:yellow;
    padding:5px;
    text-shadow: 0 0 10px black;
    font-family: "Reem Kufi", sans-serif;
  }