.products-backdrop{

    background-image: linear-gradient(
        rgba(196, 196, 196, 0.178),
        rgba(49, 49, 49, 0.2)
      ),
      url("../imgs/homebanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    padding-left: 20px;
  }

   .list-of-products{ 
     display: flex;
     flex-wrap: wrap;
  }  

  .product_card{
    transition: 0.3s;
    max-height: 100%;
    max-width: 100%;
    border-radius: 7px;
    font-family: "Urbanist", sans-serif;
    padding: 10px; 
    margin: 8px; 
    width: 280px; 
    border: 1px solid hsl(180, 15%, 39%);
    height: 360px;
    background: #557272;
    align-self: auto;
    border: 3px solid black;
  } 
  .first-product{
      align-content: center;
  }
  .product_card-img{
    height: 200px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .product_card-name {
    margin: 2px;
    font-size: 15px;
    line-height: 2;
    font-family: "Urbanist", sans-serif;
    color:white;
  }

  .product_card-price {
    font-size: 15px;
    margin-top: 2px;
    color:white;
  } 

.products-title{
    font-family: "Reem Kufi", sans-serif;
    font-size:50px;
    color:white;
    text-shadow: 0 0 10px black;
    margin-left: 10px; 
    }

.add-product-button{
background:#557272;
font-family: "Reem Kufi", sans-serif;
margin-left: 10px; 
margin-bottom: 10px;
border: 2px solid black;
}

   .edit-product-button{
    background:#557272;
    font-family: "Reem Kufi", sans-serif; 
    margin: 8px; 
    margin-top: 10px;
    border: 1px solid black;
    
  }

  .delete-product-button{
    background:#557272; 
    margin-left: 10px;  
    margin-top: 2px;
    border: 1px solid black;
    font-family: "Reem Kufi", sans-serif;
} 
