/* .orders-backdrop{
    background-image: linear-gradient(
        rgba(196, 196, 196, 0.178),
        rgba(49, 49, 49, 0.2)
      ),
      url("../imgs/homebanner.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    height: 100vh;
    padding-left: 20px;
  } */

.orders-completed-card {
  transition: 0.3s;
  max-height: 100%;
  max-width: 100%;
  border-radius: 7px;
  font-family: "Urbanist", sans-serif;
  padding: 10px;
  margin: 8px;
  width: 280px;
  border: 1px solid hsl(180, 15%, 39%);
  height: 150px;
  background: #557272;
  align-self: auto;
  border: 3px solid black;
}

.orders-orders {
  display: flex;
  overflow-x: auto;
  padding: px;
  color: white;
  flex-wrap: wrap;
}

.orders-title {
  font-family: "Reem Kufi", sans-serif;
  font-size: 50px;
  color: white;
  text-shadow: 0 0 10px black;
  padding-left: 10px;
}
