#root {
  height: 100vh;
}

.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-icon {
  pointer-events: none;
}
.rating-icon path {
  color: #e5e4e4 !important;
}

.rating-icon.selected path {
  color: #f3cf0a !important;
}
