.footer {
  background: hsl(180, 15%, 39%);
  font-family: "Reem Kufi", sans-serif;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

.footer-container {
  width: 100%;
  padding: 6em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-title {
  color: #e5e5e5;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.footer-content {
  font-family: "Urbanist", sans-serif;
  color: #adc3c3;
  font-size: 19px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}
