.header {
  background: #557272;
  max-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.header__company__name {
  color: white;
  font-style: normal;
  font-family: "Reem Kufi", sans-serif;
}

@media screen and (max-width: 320px) {
}
