.homebanner {
  display: flex;
  justify-content: center;
}

.homebanner-content {
  height: 800px;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.35)),
    url("../imgs/carousel-1.svg");
  font-family: var(--titleFont);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
}
.homebanner-nav-box {
  font-family: var(--subtitleFont);
  font-size: 24px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin: 1em 0.2em 0 65%;
}

.homebanner-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  margin: 10% 0 0 10%;
}

.homebanner-title {
  font-size: 48px;
  font-weight: 500;
}

.homebanner-subtitle {
  padding: 1em 0 1em 0;
  font-family: var(--subtitleFont);
  font-size: 24px;
  font-weight: 200;
}

.homebanner-button {
  border: none;
  background: #557272;
  border-radius: 18.5px;
  font-size: 24px;
  width: 110px;
  height: 40px;
  color: white;
}

/* Responsive Stylings*/
@media screen and (max-width: 912px) {
  .homebanner-nav-box {
    gap: 1em;
    margin: 1em 0.2em 0 40%;
  }
}
