.homebanner {
  display: flex;
  justify-content: center;
}

.homebanner-content {
  height: 30vh;
  width: 1440px;
  font-family: var(--titleFont);
  font-size: 20px;
  background-image: linear-gradient(
      rgba(196, 196, 196, 0.178),
      rgba(49, 49, 49, 0.2)
    ),
    url("../imgs/homebanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.homebanner-title {
  font-size: 36px;
  text-shadow: 0 0 10px black;
}

.homebanner-subtitle {
  text-shadow: 0 0 10px black;
}

.homebanner-button {
  background: #557272;
  border-radius: 18.5px;
  font-size: 15px;
  width: 100px;
  color: white;
}
