.homepage {
  font-family: "Reem Kufi", sans-serif;
  background-color: #eed5c6;
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* Homepage Products Styling*/
.homepage-products {
  display: flex;
  justify-content: center;
}

.homepage-products-container {
  width: 100%;
  padding: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.homepage-products-gallery {
  width: 90%;
  margin: 3em 0 5em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.template-product-card {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.see-more-button {
  color: white;
  background-color: black;
  height: 41px;
  width: 152px;
  border-radius: 18.5px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}
