.homebanner {
  font-family: "Reem Kufi", sans-serif;
  font-size: 20px;
  background-image: linear-gradient(
      rgba(196, 196, 196, 0.178),
      rgba(49, 49, 49, 0.2)
    ),
    url("../imgs/homebanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 5%;
  color: white;
  height: 60vh;
}

.homebanner-title {
  font-size: 36px;
  overflow-wrap: break-word;
  min-width: 50%;
  margin-top: 10%;
  margin-left: 8vw;
}

.homebanner-subtitle {
  overflow-wrap: break-word;
  margin-left: 8vw;
}

.homebanner-button {
  background: #557272;
  border-radius: 18.5px;
  font-size: 15px;
  width: 100px;
  margin-top: 2.5rem;
  margin-left: 8vw;
  color: white;
}

@media screen and (max-width: 1000px) {
  .homebanner {
    color: white;
  }
}
