/* import fonts here */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;1,100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
