/* import fonts here */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  /* define variables here */
  --titleFont: "Reem Kufi";
  --subtitleFont: "Urbanist";
  --primaryGreen: #557272;
  --secondaryGreen: #adc3c3;
  --primaryGrey: #949494;
  --secondaryGrey: #c7c7c7;
  --black: #232323;
}

html,
body {
  touch-action: manipulation;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.max-width {
  max-width: 1680px;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}
