/* import fonts here */
@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;1,100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
}

.login-register-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.login-register-text {
  display: flex;
  justify-content: center;
  font-family: "Reem Kufi", sans-serif;
  margin-top: 40px;
}

.text-title {
  font-family: "Reem Kufi", sans-serif;
  margin-bottom: 50px;
  font: black;
}

.email-box,
.password-box {
  margin-top: 20px;
}

.signup-text,
.login-text {
  border-radius: 10%;
}

.login-register-form {
  font-family: "Reem Kufi", sans-serif;
}

.window {
  border-radius: 7%;
  background: white;
}

.register-login-backdrop {
  background-image: linear-gradient(
      rgba(196, 196, 196, 0.178),
      rgba(49, 49, 49, 0.2)
    ),
    url("../imgs/homebanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 60vh;
}


.admin-page-backdrop{
  
  background-image: linear-gradient(
      rgba(196, 196, 196, 0.178),
      rgba(49, 49, 49, 0.2)
    ),
    url("../imgs/homebanner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 60vh;
}

.welcome{
color:white;
}

.list-of-users{
  margin-right: 5px;
}

.list-of-products{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
}

.welcome {
  color: white;
}

