.navbar__container {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  font-family: "Reem Kuffi", sans-serif;
  line-height: 50px;
}

.navbar__container a {
  padding-left: 15px;
}

.navbar-logout {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.navbar-login {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

svg path {
  color: #ADC3C3;
}

svg path:hover {
  color: white;
}

.fa-cart-shopping, .fa-user, .fa-magnifying-glass {
  width: 25px;
  height: 25px;
  color: #ADC3C3;
}