.navbar__container {
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  font-family: "Reem Kuffi", sans-serif;
  line-height: 50px;
}

.navbar-logout {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}
