.product-container {
 display: flex;
 flex-flow: column nowrap;
 padding: 20px;
}

.product-detail-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.similar-products-wrapper {
    margin: 18px 0px;
    overflow: auto;
}

.reviews-wrapper {
    margin: 18px 0px;
}