:root {
    /* colors    */
    --headerGreen: #557272;
    --lighterGreen: #94abac;
    --descriptionColor: #949494;
  
    /* fonts */
    --descriptionFont: Urbanist;
    --headerFont: Reem Kufi;
}
.userprofile-container {
    width: 100%;;
    height: 100vh;
    /* display: flex;   */
    align-items: center;
    justify-content: center;
}


.profile-box {
    background: var(--lighterGreen);
    text-align: center;
    padding: 40px 90px;
    color: #ffffff;
    position: relative;
}

.setting-icon {
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    background: #ffffff;
    padding: 6px;
    margin-top: 40px;
}

.profile-bottom {
    color: black;
    padding: 60px 0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-bottom .down-arrow {
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box h2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500;
}

/* .all-orders-container {
    background-color: lavender;
} */

.header-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    line-height: 10px;
}

.header-info h3 {
    margin-bottom: 10px;
}